{% extends 'index.html' %}

{% block content %}
    <div class="container" style="border: 1px solid black; padding: 15px;margin-bottom: 20px;max-width:600px;">
        <h1 class="display-4">Update Task</h1>
        <form action="{% url 'update' todo_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="header" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="content" />
            </div>
            <input type="submit" class="btn btn-outline-primary" value="UPDATE" name="update">
        </form>
    </div>

{% endblock %}